{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "OUTLET CAR - NOSOTROS" %}{% endblock %}
{% block about-active %} active {% endblock %}
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h2 class="display-3 text-uppercase text-white mb-3">{% trans "Sobre Nosotros" %}</h2>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="{% url 'index' %}">{% trans "Inicio" %}</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">{% trans "Sobre Nosotros" %}</h6>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->
    <div class="container-fluid">
        <div class="container pt-5 pb-3">
            <h2 class="display-4 text-uppercase text-center mb-5">{% trans "Bienvenido a" %} <span class="text-primary">{% trans "Outlet Car" %}</span></h2>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <img class="w-75 mb-4 p-4" src="{% static 'img/about.png' %}" alt="{% trans 'Outlet Car' %}">
                    <p>{% trans "En" %} <strong>{% trans "Outlet Car" %}</strong> {% trans "nos especializamos en la venta de coches usados de distintas marcas y categorías, para que encuentres el vehículo ideal a precios accesibles. Nuestra misión es ofrecer coches de calidad y facilitar el proceso de compra proporcionando toda la información necesaria para tomar la mejor decisión." %}</p>
                </div>
            </div>
            <div class="row mt-3 p-4">
                <!-- Garantía de Calidad -->
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4 altura-carac">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4 altura-anchura-carac">
                            <i class="fa fa-2x fa-check-circle text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">{% trans "Garantía de Calidad" %}</h4>
                    </div>
                </div>
                <!-- Precios Competitivos -->
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-secondary p-4 mb-4 altura-carac">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4 altura-anchura-carac">
                            <i class="fa fa-2x fa-tag text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">{% trans "Precios Competitivos" %}</h4>
                    </div>
                </div>
                <!-- Amplia Red de Localización -->
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4 altura-carac">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4 altura-anchura-carac">
                            <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">{% trans "Ubicados en toda la península" %}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <h2 class="display-4 text-uppercase text-center mb-5">{% trans "Conoce Nuestro Equipo" %}</h2>
            <div class="owl-carousel team-carousel position-relative pad-nosotros">
                <div class="team-item">
                    <img class="img-fluid bg-white" src="{% static 'img/nosotros/aitor.png' %}" alt="{% trans 'Aitor Molero Lopez' %}">
                    <div class="position-relative py-4">
                        <h4 class="text-uppercase">{% trans "Aitor Molero Lopez" %}</h4>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid bg-white" src="{% static 'img/nosotros/sabin.png' %}" alt="{% trans 'Sabin Luja Hernandez' %}">
                    <div class="position-relative py-4">
                        <h4 class="text-uppercase">{% trans "Sabin Luja Hernandez" %}</h4>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid bg-white" src="{% static 'img/nosotros/endika.png' %}" alt="{% trans 'Endika Blanco Cabana' %}">
                    <div class="position-relative py-4">
                        <h4 class="text-uppercase">{% trans "Endika Blanco Cabana" %}</h4>
                    </div>
                </div>
                <div class="team-item">
                    <img class="img-fluid bg-white" src="{% static 'img/nosotros/kerman.png' %}" alt="{% trans 'Kerman Bruña Garcia' %}">
                    <div class="position-relative py-4">
                        <h4 class="text-uppercase">{% trans "Kerman Bruña Garcia" %}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

{% endblock %}
