{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "OUTLET CAR - DETALLES COCHE" %}{% endblock %}
{% block coches-active %} active {% endblock %}
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h2 class="display-3 text-uppercase text-white mb-3">{% trans coche.marca.nombre %} {% trans coche.modelo %}</h2>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="">{% trans "Home" %}</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">{% trans "Detalles Coche" %}</h6>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Detail Start -->
    <div class="container-fluid">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase mb-0">{% trans coche.marca.nombre %} {% trans coche.modelo %}</h1>
            <div class="row">
                <div class="col-lg-7 mb-5">
                    <div class="row mx-2 mb-3">
                        <div class="px-5 pb-2">
                            <img class="img-uniforme3" src="{{ coche.imagen.url }}" alt="{{ coche.imagen.name }}">
                        </div>
                    </div>
                    <p>{% trans coche.descripcion %}</p>
               </div>
               <div class="col-lg-5 mb-5">
                    <div class="bg-secondary p-5">
                        <h3 class="text-primary text-center mb-4">{% trans "Detalles del Coche" %}</h3>
                        <ul class="ml-0 pl-0">
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Marca" %}</p>
                                <a href="{% url 'show_marca' coche.marca.nombre %}"><p>{% trans coche.marca.nombre %}</p></a>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Modelo" %}</p>
                                <p>{% trans coche.modelo %}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Categorías" %}</p>
                                <p>
                                    {% for categoria in coche.categoria.all %}
                                        {% if categoria.nombre == "Híbrido / Eléctrico" %}
                                            <a href="{% url 'show_categoria' 'HibridoElectrico' %}">{% trans categoria.nombre %}</a>
                                        {% else %}
                                            <a href="{% url 'show_categoria' categoria.nombre %}">{% trans categoria.nombre %}</a>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Año" %}</p>
                                <p>{{ coche.anio }}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Precio" %}</p>
                                <p>{{ coche.precio }}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Color" %}</p>
                                <p>{% trans coche.color %}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Kilometraje" %}</p>
                                <p>{{ coche.kilometraje }}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Transmisión" %}</p>
                                <p>{% trans coche.transmision %}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Combustible" %}</p>
                                <p>{% trans coche.combustible %}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Tracción" %}</p>
                                <p>{% trans coche.traccion %}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Número de puertas" %}</p>
                                <p>{{ coche.numero_puertas }}</p>
                            </li>
                            <li class="d-flex justify-content-between">
                                <p>{% trans "Descapotable" %}</p>
                                <p>{{ coche.descapotable }}</p>
                            </li>
                        </ul>
                    </div>
               </div>
            </div>
        </div>
    </div>
    <!-- Detail End -->

{% endblock %}
